.widget-content fieldset{
    border: 1px solid #dfdfdf;
    padding: 5px 15px;
    clear: both;
    margin-bottom: 20px;
}

.widget-content fieldset > p{
    margin-top: 0px;
}

.pull-left{float: left;}
.pull-right{float: right;}

.clearfix, .clearfix:before, .clearfix:after{clear: both;}

.ct-widget-bonus-control{
    background-color: #f9f9f9;
}

.ct-widget-bonus-inner .wp-picker-container{
    width: 100%;
    float: none;
    margin-top: 10px;
}

.ct-widget-bonus-control{
    border: 1px solid #E5E5E5;
    padding: 0px 15px;
    margin-bottom: 15px;
}
.ct-widget-bonus-caption{     
    padding-bottom: 15px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    text-transform: uppercase;
    line-height: 20px;
    vertical-align: middle;
}
.ct-widget-bonus-caption > input[type=checkbox]{
    display: block;
    height: 16px;
    width: 16px;
    margin: 4px 0px 0px 0px !important;    
    padding: 0px;
}
.ct-widget-bonus-inner{
    border-top: 1px solid #E5E5E5;
    margin: 0px;
    padding: 0px;
}