/*
 * --------------------------------------------------
 * SKELETON
 * --------------------------------------------------
 */
body {
  color: #666666; }

a {
  color: #333333; }
  a:hover {
    color: #E74C3C; }

h1, h2, h3, h4, h5, h6 {
  color: #333333; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333333; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #E74C3C; }

#origamiez-header {
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD; }

#origamiez-header-bottom {
  border-bottom: 1px solid #DDDDDD; }

#origamiez-header-bar-inner {
  border-bottom: 1px solid #DDDDDD; }

#main-nav {
  background: #FFFFFF;
  border-top: 1px solid #DDDDDD; }
  #main-nav.stuckMenu.isStuck {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD; }
    #main-nav.stuckMenu.isStuck .main-menu {
      border-bottom: 1px solid #DDDDDD; }

#main-menu a {
  color: #666666; }
#main-menu > li.current-menu-item > a {
  color: #E74C3C; }
#main-menu > li:hover > a {
  color: #E74C3C; }
#main-menu li ul {
  border-top: 3px solid #E74C3C;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background: #FFFFFF; }
  #main-menu li ul li {
    border-bottom: 1px solid #DDDDDD; }
    #main-menu li ul li a {
      color: #666666; }
    #main-menu li ul li:hover > a {
      color: #E74C3C; }

#origamiez-body-inner {
  background: #FFFFFF; }

.origamiez-col-right {
  border-left: 1px solid #DDDDDD; }

#origamiez-footer-sidebars {
  /*border-top: 1px solid $line-1-bg-color;*/
  border-top: none;
  background-color: #293535; }

#origamiez-footer-end {
  background-color: #1e2a2a;
  color: #999999; }

#bottom-menu li a {
  color: #999999;
  border-left: 1px solid #999999; }
  #bottom-menu li a:hover {
    color: #E74C3C; }
#bottom-menu li:first-child a {
  border-left: none; }

/*
 * --------------------------------------------------
 * HEADLINE
 * --------------------------------------------------
 */
#origamiez-headline-ticker .origamiez-headline-caption {
  background-color: #FFFFFF;
  color: #E74C3C; }
  #origamiez-headline-ticker .origamiez-headline-caption > span {
    border-right: 1px solid #DDDDDD; }
#origamiez-headline-ticker #origamiez-ticker a time {
  color: #E74C3C; }

/*
 * --------------------------------------------------
 * SIDEBAR RIGHT
 * --------------------------------------------------
 */
/*
 * --------------------------------------------------
 * SIDEBAR CENTER
 * --------------------------------------------------
 */
#sidebar-center {
  border-right: 1px solid #DDDDDD;
  background-color: #FFFFFF; }
  #sidebar-center .widget {
    margin-top: -1px;
    border-top: 1px solid #DDDDDD; }

/*
 * --------------------------------------------------
 * SIDEBAR LEFT
 * --------------------------------------------------
 */
/*
 * --------------------------------------------------
 * SIDEBAR MAIN TOP
 * --------------------------------------------------
 */
/*
 * --------------------------------------------------
 * SIDEBAR BOTTOM
 * --------------------------------------------------
 */
#sidebar-bottom {
  border-top: 1px solid #DDDDDD; }
  #sidebar-bottom .widget .widget-title-text {
    border-bottom: none; }

#origamiez-footer-sidebars h2.widget-title {
  color: #FFFFFF; }
#origamiez-footer-sidebars .origamiez-widget-content {
  color: #999999; }
  #origamiez-footer-sidebars .origamiez-widget-content a {
    color: #999999; }
#origamiez-footer-sidebars .widget.widget_calendar caption {
  border-bottom-color: #555555; }
#origamiez-footer-sidebars .widget.widget_tag_cloud .origamiez-widget-content a {
  color: #FFFFFF;
  background-color: #555555; }

/*
 * --------------------------------------------------
 * SEARCH FORM
 * --------------------------------------------------
 */
form.search-form .search-text {
  border: 1px solid #DDDDDD; }
form.search-form .search-submit {
  background-color: #FFFFFF;
  color: #DFDFDF; }

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */
body.without_bg_slides {
  background: #FFFFFF; }
  body.without_bg_slides #sb-site,
  body.without_bg_slides .sb-site-container {
    background: #FFFFFF; }

.origamiez-mobile-icon {
  background-color: #E74C3C;
  color: #FFFFFF; }

.sb-slidebar {
  background-color: #293535; }

#mobile-menu a {
  color: #999999; }
#mobile-menu li {
  border-top: 1px solid #555555; }
#mobile-menu > li:first-child {
  border-top: none; }

/*
 * --------------------------------------------------
 * MOBILE SEARCH
 * --------------------------------------------------
 */
.sb-slidebar.sb-right {
  color: #999999; }
  .sb-slidebar.sb-right a {
    color: #999999; }
  .sb-slidebar.sb-right .widget-title {
    border-color: #555555;
    color: #E74C3C; }
  .sb-slidebar.sb-right form.search-form .search-text {
    border-color: #555555; }

/*
 * --------------------------------------------------
 * WIDGET
 * --------------------------------------------------
 */
h2.widget-title {
  border-bottom: 1px solid #DDDDDD; }

#origamiez-top-banner .widget-title-text,
#origamiez-body .widget-title-text {
  border-bottom: 1px solid #E74C3C; }

/*
 * --------------------------------------------------
 * WIDGET CATEGORIES | ARCHIVES (WP DEFAULT)
 * --------------------------------------------------
 */
.widget.widget_archive select,
.widget.widget_categories select {
  border: 1px solid #DDDDDD; }

.widget.widget_rss ul li:before {
  color: #FA9B39; }

/*
 * --------------------------------------------------
 * WIDGET POSTS MINIMALIST
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-minimalist .origamiez-widget-content .origamiez-wp-m-post {
  border-top: 1px dashed #555555; }
  .widget.origamiez-widget-posts-minimalist .origamiez-widget-content .origamiez-wp-m-post.origamiez-wp-m-post-first {
    border-top: none; }
  .widget.origamiez-widget-posts-minimalist .origamiez-widget-content .origamiez-wp-m-post h5 a {
    color: #999999; }

/*
 * --------------------------------------------------
 * WIDGET POSTS TWEETS
 * --------------------------------------------------
 */
.widget.origamiez-widget-tweets .origamiez-widget-content .origamiez-wp-m-tweet {
  border-top: 1px solid #555555; }
  .widget.origamiez-widget-tweets .origamiez-widget-content .origamiez-wp-m-tweet:hover .fa-twitter {
    color: #00A0D1; }
  .widget.origamiez-widget-tweets .origamiez-widget-content .origamiez-wp-m-tweet.origamiez-wp-m-tweet-first {
    border-top: none; }
  .widget.origamiez-widget-tweets .origamiez-widget-content .origamiez-wp-m-tweet p.origamiez-wp-m-tweet-content a {
    color: #E74C3C; }

#origamiez-body .widget.origamiez-widget-tweets .origamiez-widget-content .origamiez-wp-m-tweet {
  border-top-color: #DDDDDD; }
#origamiez-body .widget.origamiez-widget-tweets .origamiez-widget-content .fa-twitter {
  color: #00A0D1; }

/*
 * --------------------------------------------------
 * WIDGET NEWSLETTER
 * --------------------------------------------------
 */
.widget.origamiez-widget-newsletter p.newsletter-form input[type=text] {
  border: 1px solid #DDDDDD; }
.widget.origamiez-widget-newsletter p.newsletter-form button[type=submit] {
  border: 1px solid #DDDDDD; }
.widget.origamiez-widget-newsletter p.newsletter-form:hover button[type=submit] {
  border: 1px solid #E74C3C;
  background-color: #E74C3C;
  color: #FFFFFF; }

#origamiez-footer .widget.origamiez-widget-newsletter p.newsletter-form input[type=text] {
  background: #293535;
  border: 1px solid #555555; }
#origamiez-footer .widget.origamiez-widget-newsletter p.newsletter-form button[type=submit] {
  border: 1px solid #555555;
  background: #555555;
  color: #F9F9F9; }
#origamiez-footer .widget.origamiez-widget-newsletter p.newsletter-form:hover input[type=text] {
  border: 1px solid #E74C3C;
  color: #FFFFFF; }
#origamiez-footer .widget.origamiez-widget-newsletter p.newsletter-form:hover button[type=submit] {
  border: 1px solid #E74C3C;
  background: #E74C3C;
  color: #FFFFFF; }

/*
 * --------------------------------------------------
 * WIDGET POSTS SMALL THUMBNAIL
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-small-thumbnail .origamiez-widget-content .origamiez-wp-mt-post {
  border-top: 1px solid #DDDDDD; }
  .widget.origamiez-widget-posts-small-thumbnail .origamiez-widget-content .origamiez-wp-mt-post.origamiez-wp-mt-post-first {
    border-top: none; }

/*
 * --------------------------------------------------
 * WIDGET POSTS GRID
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-grid .origamiez-widget-content .row.row-first .origamiez-wp-grid-post {
  border-top: none; }
.widget.origamiez-widget-posts-grid .origamiez-widget-content .row .origamiez-wp-grid-post {
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  margin-left: -1px; }
  .widget.origamiez-widget-posts-grid .origamiez-widget-content .row .origamiez-wp-grid-post.origamiez-wp-grid-post-first {
    border-left: none; }
  .widget.origamiez-widget-posts-grid .origamiez-widget-content .row .origamiez-wp-grid-post.origamiez-wp-grid-post-last {
    border-right: none; }

/*
 * --------------------------------------------------
 * WIDGET TAGS (WP DEFAULT)
 * --------------------------------------------------
 */
.widget.widget_tag_cloud .tagcloud a {
  background-color: #F9F9F9; }
  .widget.widget_tag_cloud .tagcloud a:hover {
    background-color: #E74C3C;
    color: #FFFFFF; }

/*
 * --------------------------------------------------
 * WIDGET CALENDAR (WP DEFAULT)
 * --------------------------------------------------
 */
.widget_calendar caption {
  border-bottom: 1px solid #DDDDDD; }
.widget_calendar tr {
  line-height: 20px;
  height: 20px; }

/*
 * --------------------------------------------------
 * ICON
 * --------------------------------------------------
 */
a.social-link {
  color: #555555;
  border: 1px solid #555555; }
  a.social-link.social-link-facebook {
    color: #3B5998;
    border: 1px solid #3B5998; }
  a.social-link.social-link-twitter {
    color: #00A0D1;
    border: 1px solid #00A0D1; }
  a.social-link.social-link-pinterest {
    color: #910101;
    border: 1px solid #910101; }
  a.social-link.social-link-google-plus {
    color: #C63D2D;
    border: 1px solid #C63D2D; }
  a.social-link.social-link-rss {
    color: #FA9B39;
    border: 1px solid #FA9B39; }

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */
/*
 * --------------------------------------------------
 * OWL CUSTOM PAGINATION
 * --------------------------------------------------
 */
.widget-title .owl-custom-pagination {
  border: 1px solid #DDDDDD;
  color: #DDDDDD; }
  .widget-title .owl-custom-pagination:hover {
    border-color: #E74C3C;
    color: #E74C3C; }

/*
 * --------------------------------------------------
 * ICON
 * --------------------------------------------------
 */
.metadata-circle-icon .fa {
  color: #E74C3C; }

/*
 * --------------------------------------------------
 * METADATA
 * --------------------------------------------------
 */
div.comment-metadata .metadata-divider,
div.comment-metadata time,
div.comment-metadata .comment-reply-link,
div.comment-metadata a {
  color: #666666; }

p.metadata .metadata-post-format {
  background: #E74C3C;
  color: #FFFFFF; }
p.metadata i,
p.metadata .metadata-author a,
p.metadata .metadata-categories a,
p.metadata .metadata-comment,
p.metadata .metadata-date,
p.metadata .metadata-views,
p.metadata .metadata-divider {
  color: #777777; }
p.metadata .metadata-categories a:hover {
  color: #E74C3C; }

p.metadata-readmore a {
  color: #E74C3C; }

div.origamiez-article-metadata p.metadata-divider-horizonal {
  border-bottom: 1px dashed #DDDDDD;
  color: #E74C3C; }

.origamiez-transition-all, .wpcf7-form .wpcf7-form-control.wpcf7-submit {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s; }

/*
 * --------------------------------------------------
 * BREADCRUMB
 * --------------------------------------------------
 */
.breadcrumb {
  background-color: transparent;
  border-bottom: 1px solid #DDDDDD; }
  .breadcrumb a {
    text-decoration: none; }
    .breadcrumb a.current-page {
      color: #E74C3C; }

/*
 * --------------------------------------------------
 * BLOG PAGE
 * --------------------------------------------------
 */
body.origamiez-layout-blog #origamiez-blogposts {
  list-style-type: none; }
  body.origamiez-layout-blog #origamiez-blogposts > li {
    border-top: 1px solid #DDDDDD; }
    body.origamiez-layout-blog #origamiez-blogposts > li.origamiez-first-post {
      border-top: none; }
    body.origamiez-layout-blog #origamiez-blogposts > li article .entry-thumb a .overlay {
      background: rgba(0, 0, 0, 0.5); }
    body.origamiez-layout-blog #origamiez-blogposts > li article .entry-thumb a .overlay-link {
      border: 2px solid #FFFFFF; }
    body.origamiez-layout-blog #origamiez-blogposts > li article .entry-thumb a .fa {
      color: #FFFFFF; }

/*
 * --------------------------------------------------
 * BLOG PAGE MASONRY
 * --------------------------------------------------
 */
body.origamiez-layout-blog.origamiez-layout-blog-masonry #origamiez-blogposts {
  border-bottom: 1px solid #DDDDDD; }
  body.origamiez-layout-blog.origamiez-layout-blog-masonry #origamiez-blogposts .item {
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD; }
body.origamiez-layout-blog.origamiez-layout-blog-masonry #origamiez-blogposts-loadmore {
  background-color: #E74C3C; }
  body.origamiez-layout-blog.origamiez-layout-blog-masonry #origamiez-blogposts-loadmore a {
    color: #FFFFFF; }

/*
 * --------------------------------------------------
 * PAGINATION
 * --------------------------------------------------
 */
ul.page-numbers {
  border-top: 1px solid #DDDDDD; }
  ul.page-numbers li a, ul.page-numbers li span {
    border: 1px solid #DDDDDD;
    text-decoration: none;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }
  ul.page-numbers li span.dots {
    border-color: transparent; }
  ul.page-numbers li a:hover, ul.page-numbers li span.current {
    color: #E74C3C;
    border-color: #E74C3C; }

#origamiez_singular_pagination a {
  color: #E74C3C; }

/*
 * --------------------------------------------------
 * SINGLE PAGE
 * --------------------------------------------------
 */
body.origamiez-layout-single #origamiez-post-wrap div.entry-tag {
  border-top: 1px solid #DDDDDD; }
body.origamiez-layout-single #origamiez-post-category,
body.origamiez-layout-single #origamiez-post-tag {
  border-top: 1px solid #DDDDDD; }
  body.origamiez-layout-single #origamiez-post-category span,
  body.origamiez-layout-single #origamiez-post-category a,
  body.origamiez-layout-single #origamiez-post-tag span,
  body.origamiez-layout-single #origamiez-post-tag a {
    background-color: #F9F9F9; }
    body.origamiez-layout-single #origamiez-post-category span:hover,
    body.origamiez-layout-single #origamiez-post-category a:hover,
    body.origamiez-layout-single #origamiez-post-tag span:hover,
    body.origamiez-layout-single #origamiez-post-tag a:hover {
      background-color: #E74C3C;
      color: #FFFFFF; }
  body.origamiez-layout-single #origamiez-post-category span,
  body.origamiez-layout-single #origamiez-post-tag span {
    color: #E74C3C; }
body.origamiez-layout-single #origamiez-post-category {
  border-top: none; }
body.origamiez-layout-single #origamiez-post-adjacent {
  border-top: 1px solid #DDDDDD; }
  body.origamiez-layout-single #origamiez-post-adjacent div.origamiez-post-adjacent-prev {
    border-right: 1px solid #DDDDDD; }
  body.origamiez-layout-single #origamiez-post-adjacent div.origamiez-post-adjacent-next {
    border-left: 1px solid #DDDDDD; }
body.origamiez-layout-single #origamiez-post-author {
  border-top: 1px solid #DDDDDD; }
body.origamiez-layout-single #origamiez-post-author .origamiez-author-name a {
  color: #E74C3C; }
body.origamiez-layout-single #origamiez-post-author .origamiez-author-socials a {
  border: 1px solid #DDDDDD; }
body.origamiez-layout-single #origamiez-post-related .origamiez-widget-content figure.post figcaption a {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5); }

/*
 * --------------------------------------------------
 * COMMENTS
 * --------------------------------------------------
 */
#comments {
  border-top: none !important; }
  #comments > .widget-title.comments-title {
    border-top: 1px dashed #DDDDDD; }
  #comments #comment-nav-below {
    border-top: 1px dashed #DDDDDD; }
  #comments .comment-list > li:first-child {
    border-top: none; }
  #comments .pingback,
  #comments .comment {
    border-top: 1px solid #DDDDDD; }
    #comments .pingback .comment-meta .comment-author .fn a,
    #comments .comment .comment-meta .comment-author .fn a {
      color: #E74C3C; }
  #comments #respond {
    border-top: 1px solid #DDDDDD; }
    #comments #respond .comment-form-info input {
      border: 1px solid #DDDDDD; }
    #comments #respond .comment-form-comment textarea {
      border: 1px solid #DDDDDD; }
    #comments #respond .form-submit input {
      color: #FFFFFF;
      border: none;
      background-color: #E74C3C; }

/*
 * --------------------------------------------------
 * DIVIDER
 * --------------------------------------------------
 */
.separator {
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD; }

.separator-solid {
  border-bottom-style: solid; }

.separator-dotted {
  border-bottom-style: dotted; }

.separator-double {
  border-bottom-style: double;
  border-bottom-width: 3px;
  height: 3px; }

.separator-dashed {
  border-bottom-style: dashed; }

/*
 * --------------------------------------------------
 * PLUGIN (CONTACT FORM 7)
 * --------------------------------------------------
 */
.wpcf7-form .wpcf7-form-control-wrap > input[type=text], .wpcf7-form .wpcf7-form-control-wrap > input[type=email], .wpcf7-form .wpcf7-form-control-wrap > input[type=number], .wpcf7-form .wpcf7-form-control-wrap > input[type=phone], .wpcf7-form .wpcf7-form-control-wrap > textarea {
  border: 1px solid #DDDDDD; }
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
  background-color: #E74C3C;
  border: 1px solid #E74C3C;
  color: #FFFFFF; }
  .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
    color: #E74C3C;
    background-color: #FFFFFF; }

/*
 * --------------------------------------------------
 * BOXER
 * --------------------------------------------------
 */
body.origamiez-boxer #origamiez-header-search-box form#search-form .search-submit {
  border-right: none !important; }

/*
 * --------------------------------------------------
 * REVIEW (RATING) SYSTEM
 * --------------------------------------------------
 */
#origamiez-admin-rating {
  border: 1px solid #DDDDDD; }
  #origamiez-admin-rating .origamiez-admin-rating-summary {
    border-bottom: 1px solid #DDDDDD; }
  #origamiez-admin-rating .origamiez-rating-total {
    background-color: #E74C3C; }
    #origamiez-admin-rating .origamiez-rating-total span {
      color: #FFFFFF; }
  #origamiez-admin-rating .origamiez-admin-rating-per-featured .col-left {
    font-size: 16px; }
  #origamiez-admin-rating .origamiez-admin-rating-per-featured .col-right .circle {
    border: 3px solid #E74C3C;
    background: #FFFFFF;
    color: #E74C3C; }
  #origamiez-admin-rating .origamiez-admin-rating-per-featured .col-right .line-front {
    background-color: #E74C3C; }
  #origamiez-admin-rating .origamiez-admin-rating-per-featured .col-right .line-back {
    background-color: #DDDDDD; }

.origamiez-rating-total-inside-widget {
  background: #E74C3C;
  color: #FFFFFF; }

/*
 * --------------------------------------------------
 * CONTACT INFORMATION
 * --------------------------------------------------
 */
.origamiez-contact-information .origamiez-contact-block .fa {
  color: #E74C3C; }

/*
 * --------------------------------------------------
 * WIDGET POSTS TWO COLS (1.1.4)
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-two-cols .article-col-right article {
  border-top: 1px solid #DDDDDD; }
  .widget.origamiez-widget-posts-two-cols .article-col-right article.origamiez-post-1 {
    border-top: none !important; }

/*
 * --------------------------------------------------
 * WIDGET MEDIA (1.1.6)
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-with-format-icon .origamiez-widget-content .origamiez-w-m-post {
  border-top: 1px solid #DDDDDD; }
.widget.origamiez-widget-posts-with-format-icon .origamiez-widget-content .metadata-circle-icon {
  border: 1px solid #FFFFFF; }
  .widget.origamiez-widget-posts-with-format-icon .origamiez-widget-content .metadata-circle-icon .fa {
    color: #FFFFFF; }

/*
 * --------------------------------------------------
 * WIDGET POSTS ZEBRA (1.1.6)
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-zebra .origamiez-widget-content .origamiez-wp-zebra-post {
  border-bottom: 1px solid #E5E5E5; }
  .widget.origamiez-widget-posts-zebra .origamiez-widget-content .origamiez-wp-zebra-post:last-child {
    border-bottom: none; }
  .widget.origamiez-widget-posts-zebra .origamiez-widget-content .origamiez-wp-zebra-post.even {
    background-color: #FFFFFF; }
  .widget.origamiez-widget-posts-zebra .origamiez-widget-content .origamiez-wp-zebra-post.odd {
    background-color: #F9F9F9; }
  .widget.origamiez-widget-posts-zebra .origamiez-widget-content .origamiez-wp-zebra-post .metadata {
    margin-top: 10px; }

/*
 * --------------------------------------------------
 * WIDGET POSTS WITH BACKGROUND (1.1.6)
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-with-background .origamiez-widget-content .origamiez-wp-post {
  background-color: #F9F9F9; }
  .widget.origamiez-widget-posts-with-background .origamiez-widget-content .origamiez-wp-post .origamiez-wp-post-index {
    border: 1px solid #E74C3C;
    color: #E74C3C; }

/*
 * --------------------------------------------------
 * WIDGET POSTS SLIDER (1.1.6)
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-slider .origamiez-widget-content .item .caption {
  background-color: #FFFFFF; }
.widget.origamiez-widget-posts-slider .origamiez-widget-content .col-right .owl-pagination {
  background-color: rgba(255, 255, 255, 0.5); }

/*
 * --------------------------------------------------
 * RESPONSIVE (COLOR)
 * --------------------------------------------------
 */
@media only screen and (max-width: 767px) {
  #origamiez-post-adjacent .origamiez-post-adjacent-next {
    border-top: 1px dashed #DDDDDD; }

  .widget.origamiez-widget-posts-grid .origamiez-widget-content {
    padding-bottom: 20px; }
    .widget.origamiez-widget-posts-grid .origamiez-widget-content .row .origamiez-wp-grid-post {
      border-top: 1px solid #DDDDDD;
      border-right: none;
      border-left: none; }
    .widget.origamiez-widget-posts-grid .origamiez-widget-content .row.row-first .origamiez-wp-grid-post {
      border-top: 1px solid #DDDDDD; }
      .widget.origamiez-widget-posts-grid .origamiez-widget-content .row.row-first .origamiez-wp-grid-post.origamiez-wp-grid-post-first {
        border-top: none; }

  .widget.origamiez-widget-posts-playlist .row-first .origamiez-wp-other-post-even .entry-title {
    border-top: 1px solid #555555 !important; }

  .widget.origamiez-widget-posts-two-cols .article-col-right {
    border-top: 1px solid #DDDDDD; } }
@media only screen and (min-width: 1024px) and (max-width: 1179px) {
  .origamiez-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (min-width: 980px) and (max-width: 1023px) {
  .origamiez-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (min-width: 900px) and (max-width: 979px) {
  .origamiez-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (min-width: 800px) and (max-width: 899px) {
  .origamiez-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (min-width: 768px) and (max-width: 799px) {
  .origamiez-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (max-width: 599px) {
  #main-nav-inner #origamiez-header-search-box {
    border-left: none; } }
/*
 * --------------------------------------------------
 * UPDATE :: 2015.03.17
 * --------------------------------------------------
 */
#sidebar-bottom .widget {
  border-bottom-color: #DDDDDD; }

/*
 * --------------------------------------------------
 * UPDATE :: 2015.06.26
 * --------------------------------------------------
 */
body.origamiez-page-magazine #sidebar-center .widget-title {
  border: none;
  background: url("../images/patterns/default.jpg") repeat center center transparent; }
body.origamiez-page-magazine #sidebar-center .widget-title-text {
  border-bottom: none;
  background-color: #FFFFFF; }
body.origamiez-page-magazine #sidebar-center .widget {
  border-top: 0px; }

body.origamiez-layout-single.origamiez-show-border-for-images #origamiez-post-wrap .entry-content img,
body.origamiez-layout-single.origamiez-show-border-for-images #origamiez-post-wrap .entry-content .wp-caption .wp-caption-text {
  border: 1px solid #DDDDDD;
  background-color: #F9F9F9; }

#top-menu li.lang-item.current-lang a {
  color: #E74C3C; }

#origamiez-blogposts > li.sticky article {
  background-color: #F9F9F9;
  border: 1px solid #DDDDDD; }

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.07 (1.1.9)
 * --------------------------------------------------
 */
p.origamiez-readmore-block > a,
#origamiez-footer-copyright > a {
  color: #E74C3C; }
  p.origamiez-readmore-block > a:hover,
  #origamiez-footer-copyright > a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9; }

.entry-content a {
  color: #E74C3C; }
  .entry-content a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9; }
.entry-content q,
.entry-content blockquote {
  border-left: 3px solid #E74C3C; }
