/*
 * --------------------------------------------------
 * SKELETON
 * --------------------------------------------------
 */
body {
  color: #555555; }

a {
  color: #444444; }
  a:hover {
    color: #E74C3C; }

h1, h2, h3, h4, h5, h6 {
  color: #444444; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #444444; }

#ct-header {
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD; }

#ct-header-bottom {
  border-bottom: 1px solid #DDDDDD; }

#ct-header-bar-inner {
  border-bottom: 1px solid #DDDDDD; }

#main-nav {
  background: #FFFFFF;
  border-top: 1px solid #DDDDDD; }
  #main-nav.stuckMenu.isStuck {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD; }
    #main-nav.stuckMenu.isStuck .main-menu {
      border-bottom: 1px solid #DDDDDD; }

#main-menu a {
  color: #666666; }
#main-menu > li.current-menu-item > a {
  color: #E74C3C; }
#main-menu > li:hover > a {
  color: #E74C3C; }
#main-menu li ul {
  border-top: 3px solid #E74C3C;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background: #FFFFFF; }
  #main-menu li ul li {
    border-bottom: 1px solid #DDDDDD; }
    #main-menu li ul li a {
      color: #555555; }
    #main-menu li ul li:hover > a {
      color: #E74C3C; }

#ct-body-inner {
  background: #FFFFFF; }

.ct-col-right {
  border-left: 1px solid #DDDDDD; }

#ct-footer-sidebars {
  /*border-top: 1px solid $line-1-bg-color;*/
  border-top: none;
  background-color: #293535; }

#ct-footer-end {
  background-color: #1e2a2a;
  color: #999999; }

#bottom-menu li a {
  color: #999999;
  border-left: 1px solid #999999; }
  #bottom-menu li a:hover {
    color: #E74C3C; }
#bottom-menu li:first-child a {
  border-left: none; }

/*
 * --------------------------------------------------
 * HEADLINE
 * --------------------------------------------------
 */
#ct-headline-ticker .ct-headline-caption {
  background-color: #FFFFFF;
  color: #E74C3C; }
  #ct-headline-ticker .ct-headline-caption > span {
    border-right: 1px solid #DDDDDD; }
#ct-headline-ticker #ct-ticker a time {
  color: #E74C3C; }

/*
 * --------------------------------------------------
 * SIDEBAR RIGHT
 * --------------------------------------------------
 */
/*
 * --------------------------------------------------
 * SIDEBAR CENTER
 * --------------------------------------------------
 */
#sidebar-center {
  border-right: 1px solid #DDDDDD;
  background-color: #FFFFFF; }
  #sidebar-center .widget {
    margin-top: -1px;
    border-top: 1px solid #DDDDDD; }

/*
 * --------------------------------------------------
 * SIDEBAR BOTTOM
 * --------------------------------------------------
 */
#sidebar-bottom {
  border-top: 1px solid #DDDDDD; }

#ct-footer-sidebars h2.widget-title {
  color: #FFFFFF; }
#ct-footer-sidebars .ct-widget-content {
  color: #999999; }
  #ct-footer-sidebars .ct-widget-content a {
    color: #999999; }
#ct-footer-sidebars .widget.widget_calendar caption {
  border-bottom-color: #555555; }
#ct-footer-sidebars .widget.widget_tag_cloud .ct-widget-content a {
  color: #FFFFFF;
  background-color: #555555; }

/*
 * --------------------------------------------------
 * SEARCH FORM
 * --------------------------------------------------
 */
form.search-form .search-text {
  border: 1px solid #DDDDDD; }
form.search-form .search-submit {
  background-color: #FFFFFF;
  color: #DFDFDF; }

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */
body.without_bg_slides {
  background: #FFFFFF; }
  body.without_bg_slides #sb-site,
  body.without_bg_slides .sb-site-container {
    background: #FFFFFF; }

.ct-mobile-icon {
  background-color: #E74C3C;
  color: #FFFFFF; }

.sb-slidebar {
  background-color: #293535; }

#mobile-menu a {
  color: #999999; }
#mobile-menu li {
  border-top: 1px solid #555555; }
#mobile-menu > li:first-child {
  border-top: none; }

/*
 * --------------------------------------------------
 * MOBILE SEARCH
 * --------------------------------------------------
 */
.sb-slidebar.sb-right {
  color: #999999; }
  .sb-slidebar.sb-right a {
    color: #999999; }
  .sb-slidebar.sb-right .widget-title {
    border-color: #555555;
    color: #E74C3C; }
  .sb-slidebar.sb-right form.search-form .search-text {
    border-color: #555555; }

/*
 * --------------------------------------------------
 * WIDGET
 * --------------------------------------------------
 */
h2.widget-title {
  border-bottom: 1px solid #DDDDDD; }

#ct-body .widget-title-text {
  border-bottom: 1px solid #E74C3C; }

/*
 * --------------------------------------------------
 * WIDGET CATEGORIES | ARCHIVES (WP DEFAULT)
 * --------------------------------------------------
 */
.widget.widget_archive select,
.widget.widget_categories select {
  border: 1px solid #DDDDDD; }

.widget.widget_rss ul li:before {
  color: #FA9B39; }

/*
 * --------------------------------------------------
 * WIDGET POSTS MINIMALIST
 * --------------------------------------------------
 */
.widget.ct-widget-posts-minimalist .ct-widget-content .ct-wp-m-post {
  border-top: 1px dashed #555555; }
  .widget.ct-widget-posts-minimalist .ct-widget-content .ct-wp-m-post.ct-wp-m-post-first {
    border-top: none; }
  .widget.ct-widget-posts-minimalist .ct-widget-content .ct-wp-m-post h5 a {
    color: #999999; }

/*
 * --------------------------------------------------
 * WIDGET POSTS TWEETS
 * --------------------------------------------------
 */
.widget.ct-widget-tweets .ct-widget-content .ct-wp-m-tweet {
  border-top: 1px solid #555555; }
  .widget.ct-widget-tweets .ct-widget-content .ct-wp-m-tweet:hover .fa-twitter {
    color: #00A0D1; }
  .widget.ct-widget-tweets .ct-widget-content .ct-wp-m-tweet.ct-wp-m-tweet-first {
    border-top: none; }
  .widget.ct-widget-tweets .ct-widget-content .ct-wp-m-tweet p.ct-wp-m-tweet-content a {
    color: #E74C3C; }

#ct-body .widget.ct-widget-tweets .ct-widget-content .ct-wp-m-tweet {
  border-top-color: #DDDDDD; }
#ct-body .widget.ct-widget-tweets .ct-widget-content .fa-twitter {
  color: #00A0D1; }

/*
 * --------------------------------------------------
 * WIDGET NEWSLETTER
 * --------------------------------------------------
 */
.widget.ct-widget-newsletter p.newsletter-form input[type=text] {
  background: #293535;
  border: 1px solid #555555; }
.widget.ct-widget-newsletter p.newsletter-form button[type=submit] {
  border: 1px solid #555555;
  background: #555555;
  color: #F9F9F9; }
.widget.ct-widget-newsletter p.newsletter-form:hover input[type=text] {
  border: 1px solid #E74C3C;
  color: #FFFFFF; }
.widget.ct-widget-newsletter p.newsletter-form:hover button[type=submit] {
  border: 1px solid #E74C3C;
  background: #E74C3C;
  color: #FFFFFF; }

/*
 * --------------------------------------------------
 * WIDGET POSTS SMALL THUMBNAIL
 * --------------------------------------------------
 */
.widget.ct-widget-posts-small-thumbnail .ct-widget-content .ct-wp-mt-post {
  border-top: 1px solid #DDDDDD; }
  .widget.ct-widget-posts-small-thumbnail .ct-widget-content .ct-wp-mt-post.ct-wp-mt-post-first {
    border-top: none; }

/*
 * --------------------------------------------------
 * WIDGET POSTS GRID
 * --------------------------------------------------
 */
.widget.ct-widget-posts-grid .ct-widget-content .row.row-first .ct-wp-grid-post {
  border-top: none; }
.widget.ct-widget-posts-grid .ct-widget-content .row .ct-wp-grid-post {
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  margin-left: -1px; }
  .widget.ct-widget-posts-grid .ct-widget-content .row .ct-wp-grid-post.ct-wp-grid-post-first {
    border-left: none; }
  .widget.ct-widget-posts-grid .ct-widget-content .row .ct-wp-grid-post.ct-wp-grid-post-last {
    border-right: none; }

/*
 * --------------------------------------------------
 * WIDGET TAGS (WP DEFAULT)
 * --------------------------------------------------
 */
.widget.widget_tag_cloud .tagcloud a {
  background-color: #F9F9F9; }
  .widget.widget_tag_cloud .tagcloud a:hover {
    background-color: #E74C3C;
    color: #FFFFFF; }

/*
 * --------------------------------------------------
 * WIDGET CALENDAR (WP DEFAULT)
 * --------------------------------------------------
 */
.widget_calendar caption {
  border-bottom: 1px solid #DDDDDD; }
.widget_calendar tr {
  line-height: 20px;
  height: 20px; }

/*
 * --------------------------------------------------
 * ICON
 * --------------------------------------------------
 */
a.social-link {
  color: #555555;
  border: 1px solid #555555; }
  a.social-link.social-link-facebook {
    color: #3B5998;
    border: 1px solid #3B5998; }
  a.social-link.social-link-twitter {
    color: #00A0D1;
    border: 1px solid #00A0D1; }
  a.social-link.social-link-pinterest {
    color: #910101;
    border: 1px solid #910101; }
  a.social-link.social-link-google-plus {
    color: #C63D2D;
    border: 1px solid #C63D2D; }
  a.social-link.social-link-rss {
    color: #FA9B39;
    border: 1px solid #FA9B39; }

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */
/*
 * --------------------------------------------------
 * OWL CUSTOM PAGINATION
 * --------------------------------------------------
 */
.widget-title .owl-custom-pagination {
  border: 1px solid #DDDDDD;
  color: #DDDDDD; }
  .widget-title .owl-custom-pagination:hover {
    border-color: #E74C3C;
    color: #E74C3C; }

/*
 * --------------------------------------------------
 * ICON
 * --------------------------------------------------
 */
.metadata-circle-icon .fa {
  color: #E74C3C; }

/*
 * --------------------------------------------------
 * METADATA
 * --------------------------------------------------
 */
div.comment-metadata .metadata-divider,
div.comment-metadata time,
div.comment-metadata .comment-reply-link,
div.comment-metadata a {
  color: #555555; }

p.metadata .metadata-post-format {
  background: #E74C3C;
  color: #FFFFFF; }
p.metadata .metadata-comment,
p.metadata .metadata-date,
p.metadata .metadata-views,
p.metadata .metadata-divider {
  color: #777777; }

p.metadata-readmore a {
  color: #E74C3C; }

div.ct-article-metadata p.metadata-divider-horizonal {
  border-bottom: 1px dashed #DDDDDD;
  color: #E74C3C; }

.ct-transition-all, .wpcf7-form .wpcf7-form-control.wpcf7-submit {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s; }

/*
 * --------------------------------------------------
 * BREADCRUMB
 * --------------------------------------------------
 */
.breadcrumb {
  background-color: transparent;
  border-bottom: 1px solid #DDDDDD; }
  .breadcrumb a {
    text-decoration: none; }
    .breadcrumb a.current-page {
      color: #E74C3C; }

/*
 * --------------------------------------------------
 * BLOG PAGE
 * --------------------------------------------------
 */
body.ct-layout-blog #ct-blogposts {
  list-style-type: none; }
  body.ct-layout-blog #ct-blogposts > li {
    border-top: 1px solid #DDDDDD; }
    body.ct-layout-blog #ct-blogposts > li.ct-first-post {
      border-top: none; }
    body.ct-layout-blog #ct-blogposts > li article .entry-thumb a .overlay {
      background: rgba(0, 0, 0, 0.5); }
    body.ct-layout-blog #ct-blogposts > li article .entry-thumb a .overlay-link {
      border: 2px solid #FFFFFF; }
    body.ct-layout-blog #ct-blogposts > li article .entry-thumb a .fa {
      color: #FFFFFF; }

/*
 * --------------------------------------------------
 * BLOG PAGE MASONRY
 * --------------------------------------------------
 */
body.ct-layout-blog.ct-layout-blog-masonry #ct-blogposts {
  border-bottom: 1px solid #DDDDDD; }
  body.ct-layout-blog.ct-layout-blog-masonry #ct-blogposts .item {
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD; }
body.ct-layout-blog.ct-layout-blog-masonry #ct-blogposts-loadmore {
  background-color: #E74C3C; }
  body.ct-layout-blog.ct-layout-blog-masonry #ct-blogposts-loadmore a {
    color: #FFFFFF; }

/*
 * --------------------------------------------------
 * PAGINATION
 * --------------------------------------------------
 */
ul.page-numbers {
  border-top: 1px solid #DDDDDD; }
  ul.page-numbers li a, ul.page-numbers li span {
    border: 1px solid #DDDDDD;
    text-decoration: none; }
  ul.page-numbers li span.dots {
    border-color: transparent; }
  ul.page-numbers li a:hover, ul.page-numbers li span.current {
    color: #E74C3C;
    border-color: #E74C3C; }

#ct_singular_pagination a {
  color: #E74C3C; }

/*
 * --------------------------------------------------
 * SINGLE PAGE
 * --------------------------------------------------
 */
body.ct-layout-single #ct-post-wrap div.entry-tag {
  border-top: 1px solid #DDDDDD; }
body.ct-layout-single #ct-post-category,
body.ct-layout-single #ct-post-tag {
  border-top: 1px solid #DDDDDD; }
  body.ct-layout-single #ct-post-category span,
  body.ct-layout-single #ct-post-category a,
  body.ct-layout-single #ct-post-tag span,
  body.ct-layout-single #ct-post-tag a {
    background-color: #F9F9F9; }
    body.ct-layout-single #ct-post-category span:hover,
    body.ct-layout-single #ct-post-category a:hover,
    body.ct-layout-single #ct-post-tag span:hover,
    body.ct-layout-single #ct-post-tag a:hover {
      background-color: #E74C3C;
      color: #FFFFFF; }
  body.ct-layout-single #ct-post-category span,
  body.ct-layout-single #ct-post-tag span {
    color: #E74C3C; }
body.ct-layout-single #ct-post-category {
  border-top: none; }
body.ct-layout-single #ct-post-adjacent {
  border-top: 1px solid #DDDDDD; }
  body.ct-layout-single #ct-post-adjacent div.ct-post-adjacent-prev {
    border-right: 1px solid #DDDDDD; }
  body.ct-layout-single #ct-post-adjacent div.ct-post-adjacent-next {
    border-left: 1px solid #DDDDDD; }
body.ct-layout-single #ct-post-author {
  border-top: 1px solid #DDDDDD; }
body.ct-layout-single #ct-post-author .ct-author-name a {
  color: #E74C3C; }
body.ct-layout-single #ct-post-author .ct-author-socials a {
  border: 1px solid #DDDDDD; }
body.ct-layout-single #ct-post-related .ct-widget-content figure.post figcaption a {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5); }

/*
 * --------------------------------------------------
 * COMMENTS
 * --------------------------------------------------
 */
#comments {
  border-top: none !important; }
  #comments > .widget-title.comments-title {
    border-top: 1px dashed #DDDDDD; }
  #comments #comment-nav-below {
    border-top: 1px dashed #DDDDDD; }
  #comments .comment-list > li:first-child {
    border-top: none; }
  #comments .pingback,
  #comments .comment {
    border-top: 1px solid #DDDDDD; }
    #comments .pingback .comment-meta .comment-author .fn a,
    #comments .comment .comment-meta .comment-author .fn a {
      color: #E74C3C; }
  #comments #respond {
    border-top: 1px solid #DDDDDD; }
    #comments #respond .comment-form-info input {
      border: 1px solid #DDDDDD; }
    #comments #respond .comment-form-comment textarea {
      border: 1px solid #DDDDDD; }
    #comments #respond .form-submit input {
      color: #FFFFFF;
      border: none;
      background-color: #E74C3C; }

/*
 * --------------------------------------------------
 * DIVIDER
 * --------------------------------------------------
 */
.separator {
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD; }

.separator-solid {
  border-bottom-style: solid; }

.separator-dotted {
  border-bottom-style: dotted; }

.separator-double {
  border-bottom-style: double;
  border-bottom-width: 3px;
  height: 3px; }

.separator-dashed {
  border-bottom-style: dashed; }

/*
 * --------------------------------------------------
 * PLUGIN (CONTACT FORM 7)
 * --------------------------------------------------
 */
.wpcf7-form .wpcf7-form-control-wrap > input[type=text], .wpcf7-form .wpcf7-form-control-wrap > input[type=email], .wpcf7-form .wpcf7-form-control-wrap > input[type=number], .wpcf7-form .wpcf7-form-control-wrap > input[type=phone], .wpcf7-form .wpcf7-form-control-wrap > textarea {
  border: 1px solid #DDDDDD; }
.wpcf7-form .wpcf7-form-control.wpcf7-submit {
  background-color: #E74C3C;
  border: 1px solid #E74C3C;
  color: #FFFFFF; }
  .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
    color: #E74C3C;
    background-color: #FFFFFF; }

/*
 * --------------------------------------------------
 * BOXER
 * --------------------------------------------------
 */
body.ct-boxer #ct-header-search-box form#search-form .search-submit {
  border-right: none !important; }

/*
 * --------------------------------------------------
 * REVIEW (RATING) SYSTEM
 * --------------------------------------------------
 */
#ct-admin-rating {
  border: 1px solid #DDDDDD; }
  #ct-admin-rating .ct-admin-rating-summary {
    border-bottom: 1px solid #DDDDDD; }
  #ct-admin-rating .ct-rating-total {
    background-color: #E74C3C; }
    #ct-admin-rating .ct-rating-total span {
      color: #FFFFFF; }
  #ct-admin-rating .ct-admin-rating-per-featured .col-left {
    font-size: 16px; }
  #ct-admin-rating .ct-admin-rating-per-featured .col-right .circle {
    border: 3px solid #E74C3C;
    background: #FFFFFF;
    color: #E74C3C; }
  #ct-admin-rating .ct-admin-rating-per-featured .col-right .line-front {
    background-color: #E74C3C; }
  #ct-admin-rating .ct-admin-rating-per-featured .col-right .line-back {
    background-color: #DDDDDD; }

.ct-rating-total-inside-widget {
  background: #E74C3C;
  color: #FFFFFF; }

/*
 * --------------------------------------------------
 * CONTACT INFORMATION
 * --------------------------------------------------
 */
.ct-contact-information .ct-contact-block .fa {
  color: #E74C3C; }

/*
 * --------------------------------------------------
 * RESPONSIVE (COLOR)
 * --------------------------------------------------
 */
@media only screen and (max-width: 767px) {
  #ct-post-adjacent .ct-post-adjacent-next {
    border-top: 1px dashed #DDDDDD; }

  .widget.ct-widget-posts-grid .ct-widget-content {
    padding-bottom: 20px; }
    .widget.ct-widget-posts-grid .ct-widget-content .row .ct-wp-grid-post {
      border-top: 1px solid #DDDDDD;
      border-right: none;
      border-left: none; }
    .widget.ct-widget-posts-grid .ct-widget-content .row.row-first .ct-wp-grid-post {
      border-top: 1px solid #DDDDDD; }
      .widget.ct-widget-posts-grid .ct-widget-content .row.row-first .ct-wp-grid-post.ct-wp-grid-post-first {
        border-top: none; }

  .widget.ct-widget-posts-playlist .row-first .ct-wp-other-post-even .entry-title {
    border-top: 1px solid #555555 !important; } }
@media only screen and (min-width: 1024px) and (max-width: 1179px) {
  .ct-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (min-width: 980px) and (max-width: 1023px) {
  .ct-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (min-width: 900px) and (max-width: 979px) {
  .ct-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (min-width: 800px) and (max-width: 899px) {
  .ct-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (min-width: 768px) and (max-width: 799px) {
  .ct-col-right {
    border-right: 1px solid #DDDDDD; } }
@media only screen and (max-width: 599px) {
  #main-nav-inner #ct-header-search-box {
    border-left: none; } }

/*# sourceMappingURL=default.css.map */
