body.bbpress #sidebar-center > .breadcrumb {
  display: none; }
body.bbpress div.bbp-breadcrumb {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 0px; }

#bbpress-forums .bbp-template-notice {
  margin-top: 15px;
  margin-bottom: 15px; }
#bbpress-forums #bbp-search-form #bbp_search_submit,
#bbpress-forums #bbp-search-form #bbp_search {
  height: 30px;
  line-height: 30px; }
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
  clear: both;
  margin-top: 50px; }
#bbpress-forums #subscription-toggle {
  float: right; }
  #bbpress-forums #subscription-toggle a {
    text-decoration: underline; }
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  padding-top: 15px;
  padding-bottom: 15px; }
#bbpress-forums .bbp-reply-form fieldset.bbp-form,
#bbpress-forums .bbp-topic-form fieldset.bbp-form {
  padding: 15px 0px; }
  #bbpress-forums .bbp-reply-form fieldset.bbp-form legend,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form legend {
    width: auto;
    margin-bottom: 0px; }
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_topic_status_select,
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_stick_topic_select,
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_topic_tags,
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_topic_title,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_topic_status_select,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_stick_topic_select,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_topic_tags,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_topic_title {
    height: 30px;
    margin-top: 5px; }
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_topic_status_select,
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_stick_topic_select,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_topic_status_select,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_stick_topic_select {
    width: 25%; }
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_topic_tags,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_topic_tags {
    width: 50%; }
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_topic_title,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_topic_title {
    width: 100%; }
#bbpress-forums .bbp-submit-wrapper .button.submit {
  height: 45px;
  padding-left: 15px;
  padding-right: 15px; }

#ct-post-wrap #bbp-search-form,
.ct-widget-content #bbp-search-form {
  position: relative; }
  #ct-post-wrap #bbp-search-form #bbp_search_submit,
  #ct-post-wrap #bbp-search-form #bbp_search,
  .ct-widget-content #bbp-search-form #bbp_search_submit,
  .ct-widget-content #bbp-search-form #bbp_search {
    height: 30px;
    line-height: 30px; }
  #ct-post-wrap #bbp-search-form #bbp_search_submit,
  .ct-widget-content #bbp-search-form #bbp_search_submit {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 15px;
    padding-right: 15px; }
  #ct-post-wrap #bbp-search-form #bbp_search,
  .ct-widget-content #bbp-search-form #bbp_search {
    width: 100%;
    padding-right: 100px; }

.widget.widget_display_views ul,
.widget.widget_display_topics ul,
.widget.widget_display_replies ul,
.widget.widget_display_forums ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }
  .widget.widget_display_views ul li,
  .widget.widget_display_topics ul li,
  .widget.widget_display_replies ul li,
  .widget.widget_display_forums ul li {
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px 0px 0px; }
    .widget.widget_display_views ul li:first-child,
    .widget.widget_display_topics ul li:first-child,
    .widget.widget_display_replies ul li:first-child,
    .widget.widget_display_forums ul li:first-child {
      padding-top: 0px; }
    .widget.widget_display_views ul li a,
    .widget.widget_display_topics ul li a,
    .widget.widget_display_replies ul li a,
    .widget.widget_display_forums ul li a {
      text-decoration: none; }
    .widget.widget_display_views ul li .sub-menu,
    .widget.widget_display_views ul li .children,
    .widget.widget_display_topics ul li .sub-menu,
    .widget.widget_display_topics ul li .children,
    .widget.widget_display_replies ul li .sub-menu,
    .widget.widget_display_replies ul li .children,
    .widget.widget_display_forums ul li .sub-menu,
    .widget.widget_display_forums ul li .children {
      margin-top: 10px;
      margin-left: 15px;
      padding-bottom: 0px; }

.widget.bbp_widget_login .bbp-login-form .bbp-username {
  margin-top: 0px; }
.widget.bbp_widget_login .bbp-login-form .bbp-password,
.widget.bbp_widget_login .bbp-login-form .bbp-remember-me,
.widget.bbp_widget_login .bbp-login-form .bbp-submit-wrapper {
  margin-top: 15px; }
.widget.bbp_widget_login .bbp-login-form .bbp-submit-wrapper {
  width: 100%;
  text-align: left; }
.widget.bbp_widget_login .bbp-login-form input[type=text],
.widget.bbp_widget_login .bbp-login-form input[type=password] {
  width: 100%;
  height: 30px; }
.widget.bbp_widget_login .bbp-login-form #user-submit {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px; }

.widget.widget_display_stats dt,
.widget.widget_display_stats dd {
  margin-bottom: 15px;
  float: left; }
.widget.widget_display_stats dt {
  width: 70%; }
.widget.widget_display_stats dd {
  width: 25%; }

@media only screen and (max-width: 599px) {
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_topic_status_select,
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_stick_topic_select,
  #bbpress-forums .bbp-reply-form fieldset.bbp-form #bbp_topic_tags,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_topic_status_select,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_stick_topic_select,
  #bbpress-forums .bbp-topic-form fieldset.bbp-form #bbp_topic_tags {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
