@import "../sass";

body{
    font-weight: $font-body-weight;
    font-family: $font-body;    
    font-size: $font-body-size;
    line-height: $font-body-line-height;
    font-style: $font-body-style;
}

h1{
    font-weight: $font-heading-h1-weight;
    font-family: $font-heading-h1;
    font-size: $font-heading-h1-size;
    line-height: $font-heading-h1-line-height;
    font-style: $font-heading-h1-style;
    letter-spacing: $font-heading-letter-spacing;
}
h2{
    font-weight: $font-heading-h2-weight;
    font-family: $font-heading-h2;
    font-size: $font-heading-h2-size;
    line-height: $font-heading-h2-line-height;
    font-style: $font-heading-h2-style;
    letter-spacing: $font-heading-letter-spacing;
}
h3{
    font-weight: $font-heading-h3-weight;
    font-family: $font-heading-h3;
    font-size: $font-heading-h3-size;
    line-height: $font-heading-h3-line-height;
    font-style: $font-heading-h3-style;
    letter-spacing: $font-heading-letter-spacing;
}
h4{
    font-weight: $font-heading-h4-weight;
    font-family: $font-heading-h4;
    font-size: $font-heading-h4-size;
    line-height: $font-heading-h4-line-height;
    font-style: $font-heading-h4-style;
    letter-spacing: $font-heading-letter-spacing;
}
h5{
    font-weight: $font-heading-h5-weight;
    font-family: $font-heading-h5;
    font-size: $font-heading-h5-size;
    line-height: $font-heading-h5-line-height;
    font-style: $font-heading-h5-style;
    letter-spacing: $font-heading-letter-spacing;
}
h6{
    font-weight: $font-heading-h6-weight;
    font-family: $font-heading-h6;
    font-size: $font-heading-h6-size;
    line-height: $font-heading-h6-line-height;
    font-style: $font-heading-h6-style;
    letter-spacing: $font-heading-letter-spacing;
}


#site-home-link{    
    text-decoration: none;
    #site-title{
        font-family: $font-heading-h1;
        font-size: 40px;
        line-height: 40px;  
        text-transform: uppercase;          
    }
    #site-desc{      
        font-family: $font-body;
        text-transform: uppercase;
    }
}


#main-menu {    
    a{
        font-family: $font-menu;
        font-style: $font-menu-style;
        span.fa{
            font-size: 20px;
        }
    }
    & > li > a{
        font-size: $font-menu-size;
        font-weight: $font-menu-weight;
        line-height: $font-menu-line-height;
    }
    > li{        
        &.menu-item-has-children{
            > a:after{
                font-family: 'FontAwesome' !important;
                content: "\f107";
                font-weight: 400;
            }
        }   
    }
    li{
        ul{
            li{
                &.menu-item-has-children{
                    > a:after{
                        font-family: 'FontAwesome' !important;
                        content: "\f105";
                        line-height: 40px;
                    }
                } 
            }           
        }
    }
}

h2.widget-title{
    font-family: $font-wiget-title;
    font-size: $font-wiget-title-size;
    line-height: $font-wiget-title-line-height;
    font-weight: $font-wiget-title-weight;
    font-style: $font-wiget-title-style;
    text-transform: uppercase;
}

/*
 * --------------------------------------------------
 * ELEMENTS
 * --------------------------------------------------
 */
.panel-default{
    .panel-heading{ 
        .panel-title{
            a{
                font-family: $font-body;
                font-size: $font-body-size;
                text-decoration: none;                
            }
        }

    }
}

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */

.origamiez-mobile-icon{      
    text-transform: uppercase;
}



/*
 * --------------------------------------------------
 * HEADLINE
 * --------------------------------------------------
 */
#origamiez-headline-ticker{
    .origamiez-headline-caption{
        line-height: 35px;
        text-transform: uppercase;
    }
    #origamiez-ticker{
        a{
            time{
                font-style: italic;   
                font-size: 12px;
            }   
        }        
    }
}


/*
 * --------------------------------------------------
 * WIDGET POSTS MINIMALIST
 * --------------------------------------------------
 */
.origamiez-widget-posts-minimalist{
    .origamiez-widget-content{
        .origamiez-wp-m-post{            
            a{
                text-decoration: none;                
            }
            h5{
                margin: 0 0 15px 0;
            }
        }
    }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS TWEETS
 * --------------------------------------------------
 */
.origamiez-widget-tweets{
    .origamiez-widget-content{
        .origamiez-wp-m-tweet{            
            a{
                text-decoration: none;                                
            }            
        }        
    }
}

/*
 * --------------------------------------------------
 * WIDGET NEWSLETTER
 * --------------------------------------------------
 */
.origamiez-widget-newsletter{
    p.newsletter-form{        
        input[type=email]{
            line-height: 20px;            
        }        
    }
    .newsletter-description{
    }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS SMALL THUMBNAIL
 * --------------------------------------------------
 */
.origamiez-widget-posts-small-thumbnail{
    .origamiez-widget-content{
        h5{                    
            a{
                line-height: 18px;                                
            }
        }
    }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS TWO COLS (1.1.4)
 * --------------------------------------------------
 */
.origamiez-widget-posts-two-cols{
    a{
        text-decoration: none;
    }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS SLIDER (1.1.6)
 * --------------------------------------------------
 */

.origamiez-widget-posts-slider{
    .origamiez-widget-content{        
        a{
            text-decoration: none;
        }
        .caption{
            h2, h5{            
                a{
                    text-transform: uppercase;
                }
            }
        }        
    }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS WITH BACKGROUND (1.1.6)
 * --------------------------------------------------
 */
.origamiez-widget-posts-with-background{  
    .origamiez-widget-content{
        a{
            text-decoration: none;
        }
        .origamiez-wp-post{            
            .origamiez-wp-post-index{
                font-size: 130%;
            }
        }
    }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS ZEBRA (1.1.7)
 * --------------------------------------------------
 */
.origamiez-widget-posts-zebra{
    a{
        text-decoration: none;
    }
}

/*
 * --------------------------------------------------
 * WIDGET POSTS ZEBRA (1.1.7)
 * --------------------------------------------------
 */
.origamiez-widget-posts-grid{
    a{
        text-decoration: none;
    }    
}

/*
 * --------------------------------------------------
 * WIDGET CATEGORIES | ARCHIVES (WP DEFAULT)
 * --------------------------------------------------
 */
.widget_nav_menu,
.widget_rss,
.widget_recent_entries,
.widget_recent_comments,
.widget_meta,
.widget_pages,
.widget_archive,
.widget_categories{ 
    ul{
        li{            
            &:before{
                           
            }
        }        
    }
}

.widget_rss{
    ul{
        li{            
            &:before{                
                content: "\f143"; 
            }
        }        
    }
}

/*
 * --------------------------------------------------
 * METADATA
 * --------------------------------------------------
 */
div.comment-metadata{
    .metadata-divider,
    a{
        font-size: 12px;
        font-style: italic;
    }
}
p.metadata{
    .metadata-post-format{
        font-size: 10px;                                
    }
    .metadata-author,
    .metadata-categories,
    .metadata-comment,
    .metadata-date,
    .metadata-views,
    .metadata-divider{
        font-size: 12px;
        font-style: italic;
    }
}
p.metadata-readmore{
    a{
        font-size: 12px;
        font-style: italic;
        text-decoration: none;
    } 
}
div.origamiez-article-metadata{
    p{
        text-align: right;        
        font-size: 13px;
        font-style: italic;
        .metadata-date,
        .metadata-comment,
        .metadata-views{            
        }        
    }
}
body.origamiez-layout-blog.origamiez-layout-blog-metadata-right{
    p{
        text-align: left;                
        .metadata-date,
        .metadata-comment,
        .metadata-views{            
        }        
    }
}

/*
 * --------------------------------------------------
 * BREADCRUMB
 * --------------------------------------------------
 */
.breadcrumb{    
    font-size: 14px;
    text-transform: uppercase;        
}

/*
 * --------------------------------------------------
 * BLOG PAGE MASONRY
 * --------------------------------------------------
 */
body.origamiez-layout-blog{  
    article{
        .metadata{           
            line-height: 15px;            
        }
    }
}

body.origamiez-layout-blog.origamiez-layout-blog-masonry{ 
    #origamiez-blogposts-loadmore{        
        text-align: center;
        text-transform: uppercase;
        a{
            text-decoration: none;
        }        
    }
}

/*
 * --------------------------------------------------
 * SINGLE PAGE
 * --------------------------------------------------
 */
body.origamiez-layout-single{
    #origamiez-post-category,
    #origamiez-post-tag{
        a{
            text-decoration: none;
        }
    }
    #origamiez-post-adjacent{
        p.direction{
            text-transform: uppercase;
        }
        a{
            text-decoration: none;
        }
        .origamiez-post-adjacent-prev{
            text-align: left;
        }
        .origamiez-post-adjacent-next{
            text-align: right;
        }
    }
    #origamiez-post-author{        
        .origamiez-author-name{
            text-transform: uppercase;       
            a{
                text-decoration: none;
            }       
        }
        .origamiez-author-socials{           
            a{                
                line-height: 35px;
                text-align: center;
            }            
        }
    }

    #origamiez-post-related{
        .origamiez-widget-content{           
            figure.post{                
                figcaption{                    
                    a{
                        text-decoration: none;                                
                    }                    
                }
            }
        }
    }
}

/*
 * --------------------------------------------------
 * ERROR 404
 * --------------------------------------------------
 */
#origamiez-post-wrap.error-404{    
    .col-left{
        text-align: right;
        font-size: 120px;
        line-height: 120px;        
    }   
}

/*
 * --------------------------------------------------
 * COMMENTS
 * --------------------------------------------------
 */

#comments{        
    .comment{       
        .comment-meta{
            .comment-author{               
                .fn{
                    a{
                        text-transform: uppercase;

                    }
                }                
            }
        }
    }
}

/*
 * --------------------------------------------------
 * PAGINATION
 * --------------------------------------------------
 */
#origamiez_singular_pagination{    
    font-style: italic;
}

/*
 * --------------------------------------------------
 * FIX :: 2014.09.11
 * --------------------------------------------------
 */
label {
    font-weight: normal;
}
.origamiez-contact-information{    
    .origamiez-contact-block{
        .fa{
            font-size: 16px;
            line-height: 16px;
        }
    }
}

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.01
 * --------------------------------------------------
 */

body.origamiez-layout-single{
    #origamiez-post-wrap{
        .entry-content{        
            .wp-caption{                
                .wp-caption-text,
                &.aligncenter{
                    text-align: center;
                }                
            }
        }
    }
}


/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.07 (1.1.9)
 * --------------------------------------------------
 */
p.origamiez-readmore-block{
    text-align: right;
}

p.origamiez-readmore-block > a,
#origamiez-footer-copyright > a{
    text-decoration: none;    
}

.entry-content{

    table{
        border-collapse: collapse; 
        text-align: left; 
        tfoot,
        thead{            
            letter-spacing: 0.5px;
        }
    }

    q,
    blockquote{
        font-style: italic;
        letter-spacing: 0.25px;    
        font-family: $font-block-quote;
        font-size: $font-block-quote-size;
        line-height: $font-block-quote-line-height;             
    }    

    dl {
        dt{
            letter-spacing: 0.5px;
        }      
    }

    cite,
    address{
        font-style: italic;
        letter-spacing: 0.5px;          
    }    
}

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.22 (1.2.2)
 * --------------------------------------------------
 */
#origamiez_singular_pagination{  
  text-align: right;  
  a{    
    line-height: 25px;    
  }  
}