body {
  font-weight: 400;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal; }

h1 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-style: normal; }

h2 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-style: normal; }

h3 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-style: normal; }

h4 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-style: normal; }

h5 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-style: normal; }

h6 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-style: normal; }

#site-home-link {
  text-decoration: none; }
  #site-home-link #site-title {
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase; }
  #site-home-link #site-desc {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase; }

#main-menu a {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-style: normal; }
  #main-menu a span.fa {
    font-size: 20px; }
#main-menu > li > a {
  font-size: 16px;
  font-weight: 400;
  line-height: 46px; }
#main-menu > li.menu-item-has-children > a:after {
  font-family: 'FontAwesome' !important;
  content: "\f107";
  font-weight: 400; }
#main-menu li ul li.menu-item-has-children > a:after {
  font-family: 'FontAwesome' !important;
  content: "\f105";
  line-height: 40px; }

h2.widget-title {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 49px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * ELEMENTS
 * --------------------------------------------------
 */
.panel-default .panel-heading .panel-title a {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: none; }

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */
.origamiez-mobile-icon {
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * HEADLINE
 * --------------------------------------------------
 */
#origamiez-headline-ticker .origamiez-headline-caption {
  line-height: 35px;
  text-transform: uppercase; }
#origamiez-headline-ticker #origamiez-ticker a time {
  font-style: italic;
  font-size: 12px; }

/*
 * --------------------------------------------------
 * WIDGET POSTS MINIMALIST
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-minimalist .origamiez-widget-content .origamiez-wp-m-post a {
  text-decoration: none; }
.widget.origamiez-widget-posts-minimalist .origamiez-widget-content .origamiez-wp-m-post h5 {
  margin: 0px 0px 15px 0px; }

/*
 * --------------------------------------------------
 * WIDGET POSTS TWEETS
 * --------------------------------------------------
 */
.widget.origamiez-widget-tweets .origamiez-widget-content .origamiez-wp-m-tweet a {
  text-decoration: none; }

/*
 * --------------------------------------------------
 * WIDGET NEWSLETTER
 * --------------------------------------------------
 */
.widget.origamiez-widget-newsletter p.newsletter-form input[type=email] {
  line-height: 20px; }

/*
 * --------------------------------------------------
 * WIDGET POSTS SMALL THUMBNAIL
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-small-thumbnail .origamiez-widget-content h5 a {
  line-height: 18px; }

/*
 * --------------------------------------------------
 * WIDGET POSTS TWO COLS (1.1.4)
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-two-cols a {
  text-decoration: none; }

/*
 * --------------------------------------------------
 * WIDGET POSTS SLIDER (1.1.6)
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-slider .origamiez-widget-content a {
  text-decoration: none; }
.widget.origamiez-widget-posts-slider .origamiez-widget-content .caption h2 a, .widget.origamiez-widget-posts-slider .origamiez-widget-content .caption h5 a {
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * WIDGET POSTS WITH BACKGROUND (1.1.6)
 * --------------------------------------------------
 */
.widget.origamiez-widget-posts-with-background .origamiez-widget-content a {
  text-decoration: none; }
.widget.origamiez-widget-posts-with-background .origamiez-widget-content .origamiez-wp-post .origamiez-wp-post-index {
  font-size: 130%; }

/*
 * --------------------------------------------------
 * WIDGET CATEGORIES | ARCHIVES (WP DEFAULT)
 * --------------------------------------------------
 */
.widget.widget_rss ul li:before {
  content: "\f143"; }

/*
 * --------------------------------------------------
 * METADATA
 * --------------------------------------------------
 */
div.comment-metadata .metadata-divider,
div.comment-metadata a {
  font-size: 12px;
  font-style: italic; }

p.metadata .metadata-post-format {
  font-size: 10px; }
p.metadata .metadata-author,
p.metadata .metadata-categories,
p.metadata .metadata-comment,
p.metadata .metadata-date,
p.metadata .metadata-views,
p.metadata .metadata-divider {
  font-size: 12px;
  font-style: italic; }

p.metadata-readmore a {
  font-size: 12px;
  font-style: italic;
  text-decoration: none; }

div.origamiez-article-metadata p {
  text-align: right;
  font-size: 13px;
  font-style: italic; }

body.origamiez-layout-blog.origamiez-layout-blog-metadata-right p {
  text-align: left; }

/*
 * --------------------------------------------------
 * BREADCRUMB
 * --------------------------------------------------
 */
.breadcrumb {
  font-size: 14px;
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * BLOG PAGE MASONRY
 * --------------------------------------------------
 */
body.origamiez-layout-blog article .metadata {
  line-height: 15px; }

body.origamiez-layout-blog.origamiez-layout-blog-masonry #origamiez-blogposts-loadmore {
  text-align: center;
  text-transform: uppercase; }
  body.origamiez-layout-blog.origamiez-layout-blog-masonry #origamiez-blogposts-loadmore a {
    text-decoration: none; }

/*
 * --------------------------------------------------
 * SINGLE PAGE
 * --------------------------------------------------
 */
body.origamiez-layout-single #origamiez-post-category a,
body.origamiez-layout-single #origamiez-post-tag a {
  text-decoration: none; }
body.origamiez-layout-single #origamiez-post-adjacent p.direction {
  text-transform: uppercase; }
body.origamiez-layout-single #origamiez-post-adjacent a {
  text-decoration: none; }
body.origamiez-layout-single #origamiez-post-adjacent .origamiez-post-adjacent-prev {
  text-align: left; }
body.origamiez-layout-single #origamiez-post-adjacent .origamiez-post-adjacent-next {
  text-align: right; }
body.origamiez-layout-single #origamiez-post-author .origamiez-author-name {
  text-transform: uppercase; }
  body.origamiez-layout-single #origamiez-post-author .origamiez-author-name a {
    text-decoration: none; }
body.origamiez-layout-single #origamiez-post-author .origamiez-author-socials a {
  line-height: 35px;
  text-align: center; }
body.origamiez-layout-single #origamiez-post-related .origamiez-widget-content figure.post figcaption a {
  text-decoration: none; }

/*
 * --------------------------------------------------
 * ERROR 404
 * --------------------------------------------------
 */
#origamiez-post-wrap.error-404 .col-left {
  text-align: right;
  font-size: 120px;
  line-height: 120px; }

/*
 * --------------------------------------------------
 * COMMENTS
 * --------------------------------------------------
 */
#comments .comment .comment-meta .comment-author .fn a {
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * PAGINATION
 * --------------------------------------------------
 */
#origamiez_singular_pagination {
  font-style: italic; }

/*
 * --------------------------------------------------
 * FIX :: 2014.09.11
 * --------------------------------------------------
 */
label {
  font-weight: normal; }

.origamiez-contact-information .origamiez-contact-block .fa {
  font-size: 16px;
  line-height: 16px; }

/*
 * --------------------------------------------------
 * UPDATE :: 2015.07.01
 * --------------------------------------------------
 */
body.origamiez-page-magazine #sidebar-center .widget-title {
  line-height: 25px; }
body.origamiez-page-magazine #sidebar-center .widget-title-text {
  font-weight: 700;
  letter-spacing: 1px; }

body.origamiez-layout-single #origamiez-post-wrap .entry-content .wp-caption .wp-caption-text, body.origamiez-layout-single #origamiez-post-wrap .entry-content .wp-caption.aligncenter {
  text-align: center; }
