body {
  font-weight: 400;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal; }

h1 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-style: normal; }

h2 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-style: normal; }

h3 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-style: normal; }

h4 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-style: normal; }

h5 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-style: normal; }

h6 {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-style: normal; }

#site-home-link {
  text-decoration: none; }
  #site-home-link #site-title {
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase; }
  #site-home-link #site-desc {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase; }

#main-menu a {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-style: normal; }
  #main-menu a span.fa {
    font-size: 20px; }
#main-menu > li > a {
  font-size: 16px;
  font-weight: 400;
  line-height: 46px; }
#main-menu > li.menu-item-has-children > a:after {
  font-family: 'FontAwesome' !important;
  content: "\f107";
  font-weight: 400; }
#main-menu li ul li.menu-item-has-children > a:after {
  font-family: 'FontAwesome' !important;
  content: "\f105";
  line-height: 40px; }

h2.widget-title {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 49px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * ELEMENTS
 * --------------------------------------------------
 */
.panel-default .panel-heading .panel-title a {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: none; }

/*
 * --------------------------------------------------
 * MOBILE MENU
 * --------------------------------------------------
 */
.ct-mobile-icon {
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * HEADLINE
 * --------------------------------------------------
 */
#ct-headline-ticker .ct-headline-caption {
  line-height: 35px;
  text-transform: uppercase; }
#ct-headline-ticker #ct-ticker a time {
  font-style: italic;
  font-size: 12px; }

/*
 * --------------------------------------------------
 * WIDGET POSTS MINIMALIST
 * --------------------------------------------------
 */
.widget.ct-widget-posts-minimalist .ct-widget-content .ct-wp-m-post a {
  text-decoration: none; }
.widget.ct-widget-posts-minimalist .ct-widget-content .ct-wp-m-post h5 {
  margin: 0px 0px 15px 0px; }

/*
 * --------------------------------------------------
 * WIDGET POSTS TWEETS
 * --------------------------------------------------
 */
.widget.ct-widget-tweets .ct-widget-content .ct-wp-m-tweet a {
  text-decoration: none; }

/*
 * --------------------------------------------------
 * WIDGET NEWSLETTER
 * --------------------------------------------------
 */
.widget.ct-widget-newsletter p.newsletter-form input[type=email] {
  line-height: 20px; }

/*
 * --------------------------------------------------
 * WIDGET POSTS SMALL THUMBNAIL
 * --------------------------------------------------
 */
.widget.ct-widget-posts-small-thumbnail .ct-widget-content h5 a {
  line-height: 18px; }

/*
 * --------------------------------------------------
 * WIDGET CATEGORIES | ARCHIVES (WP DEFAULT)
 * --------------------------------------------------
 */
.widget.widget_rss ul li:before {
  content: "\f143"; }

/*
 * --------------------------------------------------
 * METADATA
 * --------------------------------------------------
 */
div.comment-metadata .metadata-divider,
div.comment-metadata a {
  font-size: 12px;
  font-style: italic; }

p.metadata .metadata-post-format {
  font-size: 10px; }
p.metadata .metadata-comment,
p.metadata .metadata-date,
p.metadata .metadata-views,
p.metadata .metadata-divider {
  font-size: 12px;
  font-style: italic; }

p.metadata-readmore a {
  font-size: 12px;
  font-style: italic;
  text-decoration: none; }

div.ct-article-metadata p {
  text-align: right;
  font-size: 13px;
  font-style: italic; }

body.ct-layout-blog.ct-layout-blog-metadata-right p {
  text-align: left; }

/*
 * --------------------------------------------------
 * BREADCRUMB
 * --------------------------------------------------
 */
.breadcrumb {
  font-size: 14px;
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * BLOG PAGE MASONRY
 * --------------------------------------------------
 */
body.ct-layout-blog article .metadata {
  line-height: 15px; }

body.ct-layout-blog.ct-layout-blog-masonry #ct-blogposts-loadmore {
  text-align: center;
  text-transform: uppercase; }
  body.ct-layout-blog.ct-layout-blog-masonry #ct-blogposts-loadmore a {
    text-decoration: none; }

/*
 * --------------------------------------------------
 * SINGLE PAGE
 * --------------------------------------------------
 */
body.ct-layout-single #ct-post-category a,
body.ct-layout-single #ct-post-tag a {
  text-decoration: none; }
body.ct-layout-single #ct-post-adjacent p.direction {
  text-transform: uppercase; }
body.ct-layout-single #ct-post-adjacent a {
  text-decoration: none; }
body.ct-layout-single #ct-post-adjacent .ct-post-adjacent-prev {
  text-align: left; }
body.ct-layout-single #ct-post-adjacent .ct-post-adjacent-next {
  text-align: right; }
body.ct-layout-single #ct-post-author .ct-author-name {
  text-transform: uppercase; }
  body.ct-layout-single #ct-post-author .ct-author-name a {
    text-decoration: none; }
body.ct-layout-single #ct-post-author .ct-author-socials a {
  line-height: 35px;
  text-align: center; }
body.ct-layout-single #ct-post-related .ct-widget-content figure.post figcaption a {
  text-decoration: none; }

/*
 * --------------------------------------------------
 * ERROR 404
 * --------------------------------------------------
 */
#ct-post-wrap.error-404 .col-left {
  text-align: right;
  font-size: 120px;
  line-height: 120px; }

/*
 * --------------------------------------------------
 * COMMENTS
 * --------------------------------------------------
 */
#comments .comment .comment-meta .comment-author .fn a {
  text-transform: uppercase; }

/*
 * --------------------------------------------------
 * PAGINATION
 * --------------------------------------------------
 */
#ct_singular_pagination {
  font-style: italic; }

/*
 * --------------------------------------------------
 * REVIEW (RATING) SYSTEM
 * --------------------------------------------------
 */
#ct-admin-rating .ct-admin-rating-per-featured .col-left {
  line-height: 56px; }
#ct-admin-rating .ct-admin-rating-per-featured .col-right .circle {
  line-height: 50px;
  text-align: center;
  font-size: 16px; }

.ct-rating-total-inside-widget {
  line-height: 60px;
  text-align: center;
  font-size: 14px; }

/*
 * --------------------------------------------------
 * FIX :: 2014.09.11
 * --------------------------------------------------
 */
label {
  font-weight: normal; }

.ct-contact-information .ct-contact-block .fa {
  font-size: 16px;
  line-height: 16px; }

/*# sourceMappingURL=default.css.map */
